@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body-wrapper {
    width: 100%;
    height: 100%;
    background-image: url('./background.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    font-size: 100%;
}
canvas {
    position: absolute;
    width: 33%;
    height: 100%;
    background: transparent;
    z-index: 1;
}
#svg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 37%;
    height: 100%;
}
.container {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 75%;
    max-width: 1300px;
    height: 450px;
    display: grid;
    grid-template-columns: 300px 1fr 175px;
    text-shadow: 1px 1px 2px #040706, 1px 1px 2px #040706;
}
.logo-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 30% 1fr;
    
}
.text-container {
    margin-left: 30px;
    grid-column: 2 / 3;
    place-self: center;
    width: 80%;
    height: 350px;
    max-height: 95%;
    background-color: #090E0CAA;
    padding: 8px;
    line-height: 1.4;
    color: #55a598;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    
    border: 1px solid #040706;
    box-shadow: 0 0 5px #040706d0;
}
.text-container > p:not(:last-child) {
    margin-block-end: 10px;
}
.logo {
    align-items: start;
    text-align: center;
    font-weight: 700;
    font-size: 2.3rem;
    color: #326967;
}
.qr-img {
    grid-row: 3 / 4;
    place-self: center;
    width: 175px;
    opacity: .75;
}